#body_background{
    background-image:url("Background.jpeg") ;
    background-size: cover;
    background-position: center;
}
body{
    text-align: center;
}
h1{
    font-size: 21px;
    color:red;
}
#mycanvas{
    border: 5px solid red;
    margin-top: 150px;
}